<section class="joinnow">
    
<h1 class="main">Our Service</h1>


    <div class="head col-sg-4 col-md-6">
<h1>Join with us to get our latest features</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
    </div>
   .
<div class="login col-sg-9 col-md-6">

<form>
<div class="form-group " >
<label for="exampleInputEmail1">Full Name</label>
<input type="text" class="form-control" id="exampleInputName">

<label for="exampleInputEmail1">Email Addreee</label>
<input type="email" class="form-control" id="exampleInputEmail">



</div>

<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1">
    
    
    </div>

    <div class="form-group form-check">
        
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">check me one</label>
        
        </div>

<button type="submit" class="btn btn-primary">Submit</button>

</form>


</div>
 

</section>
