<!--navbar-->
<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
      <div class="sidebar-header">
        <i class="fas fa-paw"style="font-size:3rem;margin:0 3rem 0 3.5rem"></i>
       <div> <h3 class="pt-2 text-center">Pet Master</h3></div>
      </div>

      <ul class="list-unstyled components">
      
          <li>
              <a routerLink="">Home</a>
          </li>
          <li>
            <a routerLink="about">About us</a>
        </li>
          <li>
            <a routerLink="types">Products</a>
          </li>
          <li>
            <a routerLink="pets">Pets</a>
          </li>
          
          <li>
              <a routerLink="contact">Contact</a>
          </li>
      </ul>
<div class="imgbx">
  <img src="../assets/images/puppi.png">
</div>
     
  </nav>

  <!-- Page Content  -->
  

  <router-outlet></router-outlet>

  <div class="text-center foot p-2" style="background-color: rgba(0, 0, 0, 0.2);">
    Pet Master © 2021 Copyright:HMDT
    
  </div>