
<div id="content">

    <div class="heading">
        <h1 class="text-center m-3 text-light">About Us</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
        <img src="../../assets/images/about.png">
        </div>

        <div class="col-md-6 text">
            <h2>Who are we? Why choose pet master products?</h2>
            <p class="pt-4 px-3">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis perspiciatis vitae laborum voluptatibus unde non delectus, voluptate inventore incidunt nam numquam iusto culpa neque! Harum, quas. Aliquid, soluta molestias!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis perspiciatis vitae laborum voluptatibus unde non delectus, voluptate inventore incidunt nam numquam iusto culpa neque! Harum, quas. Aliquid, soluta molestias!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid perferendis perspiciatis vitae laborum voluptatibus unde non delectus, voluptate inventore incidunt nam numquam iusto culpa neque! Harum, quas. Aliquid, soluta molestias!</p>
       <div class="icon">
        <i class="fab fa-facebook-f" style=" padding:1rem 1.3rem;"></i>
        <i class="fab fa-instagram-square"style=" padding:1rem 1.1rem;"></i>
        <i class="fab fa-twitter"style=" padding:1rem 1rem;"></i>
       </div>
        </div>
    </div>
    </div>
    
       
    