<div class="jumbotron text-center">
    <h1 class="display-4">Covid 19 Tracker</h1>
<hr>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti officia hic iste, laboriosam minus porro reprehenderit ut. Officiis, non beatae sequi tempora cumque at nam esse tenetur et alias doloribus.</p>

<hr class="my-4">
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptates consequatur tenetur dolorem cupiditate pariatur tempora laudantium exercitationem illum. Animi unde error ea placeat vero consequatur ex repudiandae dolor? Temporibus, optio.</p>


</div>
