


<nav class="navbar navbar-expand-lg navbar-light ">
  <!--<a class="navbar-brand" routerLink="">E-Learinig</a>-->
  <img src="../assets/images/logo.png" width="100px ,height=80px">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="course">Packages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="join-now">Service</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="about">About us</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-light text-center">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for get our latest packages</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input type="email" id="form5Example2" class="form-control" />
              <label class="form-label" for="form5Example2">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class=" text-center p-3 text-light" style="background-color:  rgb(51, 25, 48);">
    © 2021 Copyright:
    <a class="text-light">Dilshani Thathsara</a>
  </div>
  <!-- Copyright -->
</footer>
